/* Container styling */
.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
}

/* Content box for better contrast */
.content-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Title styling */
.homepage-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
  text-align: center;
}

/* Form styling */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

/* Input for FASTA sequence */
.fasta-input, .select-blast-type, .select-database {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.fasta-input:focus, .select-blast-type:focus, .select-database:focus {
  border-color: #3498db;
}

/* Button styling */
.find-button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.find-button:hover {
  background-color: #218838;
}

/* Status container styling */
.status-container {
  margin-top: 20px;
  color: #2c3e50;
  font-size: 1rem;
}

/* Error container styling */
.error-container {
  margin-top: 20px;
  color: #e74c3c;
  background-color: #fbeaea;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  text-align: center;
}

/* Response container styling */
.response-container {
  margin-top: 30px;
  width: 785px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top BLAST results container styling */
.top-blast-results-container {
  margin-top: 30px;
  width: 785px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blast-result-item {
  margin-bottom: 15px;
}

/* Tree container styling */
.tree-container {
  display: flex;
  justify-content: center; /* Center the iframe horizontally */
  margin-top: 30px;
  width: 100%;
}

.tree-container .tree-iframe {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%; /* Set a fixed width or a percentage for better control */
  max-width: 1400px; /* Increase the max-width to make it wider */
  min-width: 815px; /* Ensure a minimum width for smaller screens */
  height: 518px;
}


/* BLAST result container styling */
.blast-result-container {
  margin-top: 20px;
  text-align: center;
}

.blast-result-container a {
  font-size: 1rem;
  color: #3498db;
  text-decoration: none;
}

.blast-result-container a:hover {
  text-decoration: underline;
}
