/* Container styling */
.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.homepage-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* Input for FASTA sequence */
.fasta-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.fasta-input:focus {
  border-color: #28a745;
}

/* Dropdown styling */
.select-blast-type, .select-database {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease;
}

.select-blast-type:focus, .select-database:focus {
  border-color: #28a745;
}

/* Button styling */
.find-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.find-button:hover {
  background-color: #218838;
}

/* Status container styling */
.status-container {
  margin-top: 20px;
  color: #555;
  font-size: 1rem;
  text-align: center;
}

.status-container p {
  margin: 5px 0;
}

/* Timer and status text */
.timer {
  font-weight: bold;
  color: #555;
}

.status {
  font-weight: bold;
  color: #007bff;
}

/* Error container styling */
.error-container {
  margin-top: 20px;
  color: #d9534f;
  font-size: 1rem;
}

/* Summary container styling */
.response-container {
  margin-top: 30px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.response-container h2 {
  font-size: 1.5rem;
  color: #28a745;
  margin-bottom: 10px;
}

.response-container p {
  margin: 0;
}
